all:
  children:
{% for group_name, hosts in groups.items() %}
    {{ group_name }}:
      hosts:
{% for svc in hosts %}
        {{ svc.ip_address }}_{{ svc.node_id }}:
          ansible_host: "{{ svc.ip_address }}"
          ansible_port: {{ svc.port }}
          ansible_user: "{{ svc.username }}"
{% if svc.auth_type in ["password", "arcos"] %}
          ansible_ssh_pass: "{{ svc.credential }}"
          ansible_become_pass: "{{ svc.credential }}"
{% else %}
          ansible_ssh_private_key_file: "{{ svc.key_file }}"
{% endif %}
          ansible_become: true
          ansible_python_interpreter: /usr/bin/python3.9
          node_id: {{ svc.node_id }}
          service_role: "{{ svc.role }}"
{% if svc.broker_keystore_src is defined %}
          broker_keystore_src: "{{ svc.broker_keystore_src }}"
          broker_truststore_src: "{{ svc.broker_truststore_src }}"
{% endif %}
{% endfor %}
{% endfor %}
